/* MyComponent.css */
.image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  .app-name-box{
    position: absolute;
    top: 50px;
    left: 40px;
    height: 70%;
    opacity: 1; 
    color:white;
  }
.app-name-box h1,
.app-name-box h4 {
  margin: 0; 
  padding: 2px;
}
  .white-box {
    position: absolute;
    top: 50px;
    left: 650px;
    width: 40%;
    height: 70%;
    padding-top:10px;
    background-color: white; 
    opacity: 1; 
    text-align: center;
    border:none;
    border-radius: 7px;
  }
  .input-fields{
      padding-top:8vh;
      padding-left:10vh;
      padding-right:10vh;
  }

  .custom-input {
    width:60vh;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s;
    
  }
  .custom-input:focus {
    border: 2px solid #007bff; /* Highlight the border when focused */
  }

  .login-button{
    padding: 12px 20px;
    width:60vh;
   
    /* background-color: #007bff; */
    background-color: red;
    color: #fff;
     border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .login-button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
  .input-error{
   color:red;


  }
  
  